*{
    margin:0 ;
    padding:0 ;
    }
    body{
        background-color:rgb(41, 41, 41);
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        width: 80%;
        margin: 0 auto;
    }
    #jv{
        display: flex;
        margin-top: 2%;
        height: auto;
    }
    nav{
        color: #ff4500;
        margin-top: 2.5%;
        margin-left: 58%;
        font-size: 1.1em;
        float: left;
    }
    ul{
        list-style: none;
        float: left;
    }
    ul li{
        margin-left: 30px;
        float: left;
    }
    nav a{
        color: aliceblue;
        text-decoration: none;
    }
    nav a:hover{
        color: #ff4500;
    }
    #home{
        margin-top: 6%;
        float: left;
    }
    #home p{
        color: #ff4500;
        font-size: 1.1em;
        margin-bottom: 15px;
    }
    #home h1 {
        color: azure;
        font-size: 2.5em;
    }
    #arte{
        float: left;
        margin-top: 5%;
        margin-left: 38%;
    }
    #cv{
        color: rgb(24, 24, 24);
        text-decoration: none;
        transition: 0.8s all;
        padding: 15px;
        border-radius: 8px;
        background-color: #ff4500;
    }
    #ctt{
        color: #ff4500;
        text-decoration: none;
        padding: 15px;
        border: 1px solid #ff4500;
        border-radius: 8px;
        transition: 0.8s all;
    }
    #cv:hover{
        background-color: azure;
        color: #ff4500;
    }
    #ctt:hover{
        background-color: azure;
        color: rgb(24, 24, 24);
        border: 1px solid orange;
    }
    #p2{
        padding-top: 7%;
        clear: both;
        text-align: center;
    }
    #p2 h3{
        color: #ff4500;
    }
    #p2 p{
        color: azure;
    }
    #icons{
        margin-top: 15%;
    }
    #in, #ig, #em{
        margin-left: 10%;
        margin-right: 10%;
    }
    #p3 h3, #icons h3{
        margin-bottom: 10%;
        color: #ff4500;
        text-align: center;
        margin-top: 8%;
    }
    .placasP, .placasL, .placasL2, .placasP2{
        width: 250px;
        height: 350px;
        display: inline-block;
        margin-top: 4%;
    }
    .placasP{
        background-color: black;
        margin-left: 1%;
    }
    .placasL{
        background-color: #ff4500;
    }
    .placasP2{
        background-color: black;
        margin-left: 1%;
    }
    .placasL2{
        background-color: #ff4500;
        margin-left: 1%;
    }
    #p4{
        margin-top: 7.5%;
    }
    #p4 h3{
        color: #ff4500;
        text-align: center;
    }
    #dev{
        margin-top: 18%;
        margin-bottom: 18%;
    }
    footer{
        text-align: center;
        background: linear-gradient(rgb(58, 58, 58), #ff4500);
        border-radius: 35px;
    }