@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    text-transform: capitalize;
    text-decoration: none;
    outline: none; border: none;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .6rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background: orangered;
    border-radius: 5rem;
}
body{
    background: #000721;
}
.cabecalho{
    background: rgba(17, 17, 17, 0.705);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 7%;
    position: fixed;
    top: 0; left: 0; right: 0;
}
.cabecalho .logo img{
    width: 8rem;
}
.cabecalho .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: aliceblue;
}
.cabecalho .navbar a:hover{
    color: orangered;
    padding-bottom: 0.5rem;
    border-bottom: .1rem solid orangered;
}
.cabecalho .icone div{
    color: orangered;
    cursor: pointer;
    font-size: 2rem;
    margin-left: 2rem;
}
#menu-btn{
    display: none;
}
.home{
    min-height: 100vh;
    display: flex;
    align-items: center;
    background: url(../img/repensando-software.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}
.home .conteudo{
    max-width: 60rem;
    margin-left: 2rem;
}
.home .conteudo h1{
    color: rgb(255, 255, 255);
    font-size: 6rem;
}
.home .conteudo span{
    color: orangered;
}
.btn{
    margin: 2rem;
    padding: 1.8rem .5rem;
    border-radius: 5px;
    cursor: pointer;
    background: rgb(39, 39, 39);
    text-align: center;
    font-size: 1.6rem;
}
.btn a{
    color: rgb(177, 172, 172);
}
.btn:hover{
    background: orangered;
}
.btn a:hover{
    letter-spacing: .2rem;
}
.heading{
    margin-top: 1rem;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-size: 4rem;
    padding-bottom: 3.5rem;
}
.heading span{
    color: orangered;
    text-transform: uppercase;
    font-size: 4rem;
}
.sobre .linha{
    margin: 1rem;
    display: flex;
    align-items: center;
    background: rgb(80, 79, 79);
    flex-wrap: wrap;
}
.sobre .linha .imagem{
    flex: 1 1 45rem;
}
.sobre .linha .imagem img{
    width: 100%;
    padding: 1rem;
}
.sobre .linha .conteudo{
    flex: 1 1 45rem;
    padding: 2rem;
}
.sobre .linha .conteudo h3{
    font-size: 3rem;
    color: #ccc;
}
.sobre .linha .conteudo p{
    font-size: 1.6rem;
    color: #ccc;
    padding: 1rem 0;
    line-height: 1.8;
}
.projetos .box-container{
    margin: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.projetos .box-container .box{
    padding: 2rem;
    text-align: center;
    border: rgb(255, 255, 255) solid .1rem;
    background: #000514;
}
.projetos .box-container .box img{
    height: 20rem;
    width: 25rem;
}
.projetos .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: normal;
}
.skills .box-container{
    margin: 0 1rem;
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(30rem,1fr));
    gap: 1.5rem;
}
.skills .box-container .box{
    padding: 2rem;
    text-align: center;
    border: rgb(255, 255, 255) solid .1rem;
    background: #000514;
}
.skills .box-container .box img{
    height: 15rem;
    width: 10rem;
}
.skills .box-container .box h3{
    color: #fff;
    font-size: 2rem;
    padding: 1rem 0;
    font-weight: normal;
}
















@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .cabecalho{
        padding: 1.5rem 2rem;
    }
    section{
        padding: 2rem;
    }

}
@media (max-width:768px){
    #menu-btn{
        display: inline-block;
        width: rem;
    }
    .cabecalho .navbar{
        position: absolute;
        top: 100%; right: -100%;
        background: #000514;
        width: 30rem;
        height: calc(100vh - 9.5rem);
    }
    .cabecalho .navbar a{
        color: orangered;
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 2rem;
    }
    .cabecalho .navbar.active{
        right: 0;
    }
    .home{
        background-position: left;
        justify-content: center;
        text-align: center;
    }
    .home .conteudo h3{
        font-size: 4.5rem;
    }
    .home .conteudo p{
        font-size: 1.5rem;
        color: orangered;
    }
}
@media(max-width:450px){
    html{
        font-size: 50%;
    }
}